.spacer {
  flex: 1 1 auto;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.avatar {
  width: 52%;
  border-radius: 50%;
}

.mat-icon-button {
  width: 94px;
}

.mat-menu-panel {
  margin-top: 44px!important;
}
