<mat-toolbar color="accent" class="sticky">
  <mat-toolbar-row>
    <span>Microsoft Video AI</span>
    <span class="flex-spacer"></span>
    <ng-container *ngIf="auth.user | async as user;">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <!-- <mat-icon [hidden]="!user.photoURL">account_circle</mat-icon> -->
        <img [src]="user?.photoURL" class="avatar">
      </button>
      <mat-menu #menu="matMenu" style="top:64px;right:30px;">
        <button mat-menu-item>
          <button class="pull-right" mat-raised-button color="primary" (click)="auth.signOut()">Logout</button>
        </button>
      </mat-menu>

    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
