<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">



  <div class="landing-background" fxFlex>
    <span class="flex-spacer"></span>
    <div *ngIf="show" class="place-card flex-spacer" fxFlex fxFlex.gt-sm="30%" fxFlex.gt-md="30%">
      <mat-card class="card-size">
        <div>
          <span>Login to get started</span>
        </div>
        <div class="adjust-margin">
          <button mat-raised-button (click)="auth.googleLogin()">
            <img class="logo" src="assets/images/icons8-google-96.png">
            <span>Connect to Google</span>
          </button>
          <button mat-raised-button (click)="auth.facebookLogin()">
            <img class="logo" src="assets/images/icons8-facebook-96.png">
            <span>Connect to Facebook</span>
          </button>
          <button mat-raised-button (click)="auth.twitterLogin()">
            <img class="logo" src="assets/images/icons8-twitter-96.png">
            <span>Connect to Twitter</span>
          </button>
          <button mat-raised-button (click)="auth.githubLogin()">
            <img class="logo" src="assets/images/icons8-github-96.png">
            <span>Connect to Github</span>
          </button>
        </div>
      </mat-card>
    </div>
  </div>


</div>

<!-- User NOT logged in -->



<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <!-- <h3>Hello, {{ user.displayName }}</h3> -->
    <!-- <img [src]="user.photoURL"> -->
    <button (click)="auth.signOut()">Logout</button>
  </div>
</ng-template>
