.card-size {
  max-width: 65%;
}

.place-card {
  margin-top: 5%; // margin-left: 73%;
}

.card-size span {
  text-align: justify;
  font-size: 1em; // padding: 64px;
  padding: 0px 57px;
}

.adjust-margin {
  margin-top: 5%; // margin-left: 4%;
}

.logo {
  width: 15%; // margin-left: -15% !important;
  position: fixed;
}

.mat-raised-button {
  min-width: 98% !important;
  width: 96%; // margin-bottom: 3%;
  margin-bottom: 3%;
}
