<!-- <h2>
  AI Insights</h2> -->
<div flexLayout="row">
  <div fxFlex="60" fxFlex.gt-sm="95%" fxFlex.gt-md="90%">
    <h2>AI Insights</h2>


  </div>
  <div fxFlex="40" fxFlex.gt-sm="5%" fxFlex.gt-md="10%">
    <span class="flex-spacer">
      <button mat-raised-button color="primary" class="button-right" (click)="back()">
        BACK</button>
    </span>
  </div>

</div>


<div [hidden]="insight">
  <mat-spinner></mat-spinner>
  <h4>Loading . . . Please Wait</h4>
</div>
<div flexLayout="row" fxLayout.sm="column" fxLayout.xs="column" flexLayoutAlign="space-around center" flexLayoutGap="10px">
  <div fxFlex="50%">
    <iframe width="100%" height="auto" [src]="insight" frameborder="0" allowfullscreen *ngIf="insight">
    </iframe>
  </div>
  <div fxFlex="50%">
    <iframe width="100%" height="auto" [src]="player" frameborder="0" allowfullscreen *ngIf="player"></iframe>
  </div>
</div>
