/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: white;
}

.landing-background {
  background-image: url('assets/images/william-stitt-138556-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100%;
}

.landing-background:before {
  content: '';
  position: absolute;
  top: -20;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(bottom right, blue, lightgreen);
  opacity: .7;
  height: 100vh;
}

.flex-spacer {
  flex: 1 1 auto;
}

mat-card-header,
mat-card-actions {
  background-image: linear-gradient(bottom right, white, pink);
}
