.thumbnail-card {
  max-width: 100%;
  background-color: rgba(245, 245, 245, 0.466);
  border-radius: 2%;
  max-height: 82%;
}

.card-action {
  // background-color: lightseagreen;
  margin-left: 0px;
  margin-bottom: 5px !important;
  margin-right: 0;
}

img.mat-card-image {
  margin-left: 0px;
  margin-bottom: -4px;
  width: 100%;
}

input[type="file"] {
  display: none;
}

.upload-panel {
  background-image: linear-gradient(bottom right, white, pink);
}

.file-drop {
  margin-top: 5%;
}

.align-upload {
  margin-left: 41%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.adjust-spinner {
  padding-left: 21%;
  padding-top: 2%;
  padding-bottom: 2%;
}

@media only screen and (max-width: 425px) {
  .align-upload {
    margin-left: 15% !important;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}
