<div class="upload-panel" flexLayout="column" fxLayoutAlign="space-evenly around" flexLayoutGap="25px">
  <div fxFlex="50" fxFlexAlign="center" *ngIf="!isProcessing">
    <div class="file-drop">
      <file-drop headertext="Drop video file here (mp4 or ogg. Max size: 30 Mb)" (onFileDrop)="dropped($event)">
      </file-drop>
    </div>

    <div class="align-upload">
      <span>Or</span>
      <button mat-fab color="primary">
        <form>
          <label for="vid" class="custom-file-upload">
            <i class="material-icons">add</i>
          </label>
          <input type="file" name="avatar" id="vid" accept="video/mp4,video/ogg" style="width:100%;" (change)="initFileUpload($event)">
        </form>
      </button>
    </div>


  </div>

  <div fxFlex="50" fxFlexAlign="center" *ngIf="isProcessing" class="adjust-spinner">
    <mat-progress-spinner color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <span>Processing... {{progressPercentage}}% completed</span>
  </div>
</div>
<mat-divider></mat-divider>
<div flexLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="margin-top:2%" flexLayoutAlign="space-evenly stretch"
  flexLayoutGap="10px">
  <h3 *ngIf="thumbnailUrls.length===0">No videos added </h3>
  <div [hidden]="thumbnailUrls">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex="33" *ngFor="let thumbnail of thumbnailUrls;let i=index;" style="padding:25px;">
    <mat-card class="thumbnail-card" *ngIf="thumbnail?.thumbnailUrl">
      <mat-card-header>
        <mat-card-title>{{thumbnail?.name}}</mat-card-title>
        <mat-card-subtitle>Created on: {{thumbnail.createTime | date}} | Duration:{{thumbnail.durationInSeconds}} Seconds | Views:{{thumbnail.views}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="thumbnail.thumbnailUrl" alt="Video">
      <mat-card-actions class="card-action">
        <button mat-raised-button color="primary" routerLink="/home/{{thumbnail.id}}">PLAY</button>
        <button mat-raised-button color="warn" (click)="deleteBreakdown(thumbnail.id,i)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
